<!DOCTYPE HTML>
<html>
	<head>
		<title>Show Me The Money</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./../assets/stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="./../assets/stylesheets/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="#" class="logo">Show me the Money!</a>
					</header>


					<footer id="footer">
						<section>
							<h1>Login</h1>
              <h3>Almost there to Give or Receive!</h3>
              <%if flash[:notice]%>
              <%=flash[:notice]%>
              <%end%>
							<form method="post" action="/sessions">
								<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
								<div class="field">
									<label for="email">Email</label>
									<input type="text" name="email"><br>
								</div>
								<div class="field">
									<label for="password">Password</label>
									<input type="password" name="password"><br>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Login!" /></li>
								</ul>
							</form>
              <a href="/">How Did I get Here!?</a>
						</section>
					</footer>


			</div>

		<!-- Scripts -->


	</body>
</html>
